<div class='row'>
  <div class='col-12 mb-3'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', value: list_item.description %> 
    <%= render_errors(list_item, :description) %>
  </div>
  <div class='col-12 mb-3 mt-3'>
    <%= f.label 'Item URL' %>
    <%= f.text_field :url, class: 'form-control', enterkeyhint: "next", value: list_item.url %>
    <%= render_errors(list_item, :url) %> 
  </div>
  <div class='col-12 mb-3 mt-3 row'>
    <%= f.label 'Price Range' %>
    <div class='col-6'>
      <%= f.number_field :low_price, step: :any, placeholder: 'Low Price', class: 'form-control', value: list_item.low_price %>
    </div>
    <div class='col-6'>
      <%= f.number_field :high_price, step: :any, placeholder: 'High Price', class: 'form-control', value: list_item.high_price %>
    </div>
    <%= render_errors(list_item, :cost) %> 
  </div>
  <div class='col-12 mt-3 mb-3'>
    <%= f.label 'How much do you want this?' %>  
    <%= f.select :priority, options_for_select(priority_options, action_name == 'new' ? nil : list_item.priority), { include_blank: true }, class: 'form-select' %>
    <%= render_errors(list_item, :priority) %>
  </div>
  <div class='col-12 mb-5 mt-3'>
    <%= f.label :tags %>
    <%= f.select :tag_ids, options_for_select(Tag.all.order(:name).map { |t| [t.name, t.id] }, list_item.tags.ids), { multiple: 'multiple' }, class: 'form-select multiselect-field' %>
  </div>
  <%= f.hidden_field :list_id, value: @current_account.list.id %>
  <div class='col-12 d-flex justify-content-between flex-row-reverse'>
    <%= f.submit 'Submit', class: 'btn submit' %>
    <%= link_to :back do %>
      <button class="btn btn-default cancel" data-bs-dismiss="modal" aria-hidden="true">Cancel</button>
    <% end %>
  </div>
</div>
