<div class="preheader">
  <span class='name'>
    <%= item.list.account.full_name %>
  </span>
  <span>
    <%= render partial: 'list_item/priority_icon', locals: { item: item } %>

    <% if item.url.present? %>
      <%= link_to item.url, class: 'item-link', data: { toggle: 'tooltip', placement: 'top'}, title: 'Gift URL', target: '_blank' do %>
        <i class="fa-solid fa-link icon"></i>
      <% end %>
    <% end %>
  </span>
</div>
<div class='claimed-by'>
  <% if item.claimed? && !item.claimed_by?(current_account) %>
    Claimed by <strong><%= item.claimed_by.full_name %></strong>
  <% end %>
</div>
<%= link_to show_list_item_path(item.id), class: 'no-link-style', remote: true do %> 
  <div class="head">
    <div class='truncated-text'>
      <p class='white-space-preline'><%= item.description.truncate(200, omission: '...') %></p>
    </div>
  </div>
<% end %>

<% if item.tags.present? %>
  <%= link_to show_list_item_path(item.id), class: 'action view-item', data: { toggle: 'tooltip', placement: 'top'}, title: 'This item is tagged', remote: true do %>
    <i class="fa-solid fa-tag"></i>
  <% end %>
<% end %>

<div class="body">
  <%= render partial: 'list_item/price_range', locals: { item: item } %>
  <span>
    <% if item.claimed_by?(current_account) %>
      <%= render partial: 'list_item/claimed', locals: { item: item } %>
    <% elsif !item.claimed? %>
      <%= render partial: 'list_item/unclaimed', locals: { item: item } %>
    <% end %>
  </span>
</div>

<div class='blur'></div>
