<%= form_for :search, url: search_groups_path, method: :get, remote: true do |f| %>
  <div class='row'>
    <div class='col-12'>
      <%= f.label 'Group Name' %>
      <%= f.text_field :name, class: 'form-control me-3' %>
    </div>
    <div class='col-12 mt-4'>
      <span>
        <%= f.label 'Email of a Member' %>
        <%= f.text_field :email, class: 'form-control me-3' %>
      </span>
    </div>
    <div class='col-12 mt-4'>
      <%= f.label 'Name of a Member' %>
        <%= f.text_field :email, class: 'form-control me-3' %>
    </div>
    <div class='col-12 align-items-end d-flex justify-content-end mt-4'>
      <%= f.button :submit, class: 'btn form-btn' do |f| %>
        <i class="fa-solid fa-magnifying-glass me-3"></i>Search
      <% end %>
    </div>
  </div>
<% end %>

