<section class='mt-5 pt-5 mobile-overflow'>
  <div class='row carousel <%= groups.count > 3 ? '' : '' %>' data-carousel-target='slider'>
    <% @groups.each do |group| %>
      <div class='col-4 slide <%= group.id %>' data-slide-index=<%= group.id %>>
        <%= link_to my_groups_path(group_id: group.id), class: 'link-card', data: { group_id: group.id }, remote: true do %>
        <div class='card group-card <%= toggled_id.present? && toggled_id == group.id ? 'toggled' : '' %>' id='group-<%= group.id %>'>
          <div class='group-card-head'>
            <h5><%= group.name %></h5>
          </div>
          <div class='group-card-body mt-2'>
            <span class='pills'>
            <span class='pill light small'>
              Members<span class='me-2'></span><%= group.accounts.count %>
            </span>
            <span class='pill light small'>
              Wishes<span class='me-2'></span><%= group.total_wishes %>
            </span>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
