<div class='results mt-5 d-none d-md-block'>
  <% if results.present? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        <% results.each do |account| %>
          <tr>
            <td><%= account.full_name %></td>
            <td><%= account.email %></td>
            <td class='table-actions' id='account-<%= account.id %>'>
              <% if account.in_group?(group) %>
                <%= render partial: 'grouped_account_action' %>
              <% else %>
                <%= link_to create_group_member_path(id: group.id, account_id: account.id), class: 'btn', method: :post do %>
                  Add
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
    
  <% if results.blank? %>
    <div class='no-results'>
      <h5>No one here has that email. Try again?</h5>
      <% if is_valid_email?(email) %>
        <p class='light-text mt-3'>Click the link below to invite <strong><%= email %></strong>. <br />As soon as they sign up, they'll automatically be added to your group.</p>
        <%= link_to invite_group_member_path(email: email), class: 'btn pill', method: :post do %>
          Invite New Member
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class='d-block d-md-none'>
  <%= render partial: 'account/mobile/results', locals: { account: results&.first, group: group, email: email } %>
</div>

<style>

.light-text {
font-weight: 100;
line-height: 2;
}

</style>