<div class='results mt-5 overflow-visible'>
  <% if account.present? %>
    <div class='card light-box-shadow d-flex justify-content-center align-items-center'>
      <h3 class='font-weight-strong mb-3'><%= account.full_name %></h3>
      <div class='email'>
        <p><%= account.email %></p>
      </div>
      <div class='actions' id='mobile-account-<%= account.id %>'>
        <% if current_account.shares_group?(account) %>
          <%= render partial: 'grouped_account_action' %>
        <% else %>
          <%= link_to create_group_member_path(id: group.id, account_id: account.id), class: 'btn pill mt-0', method: :post do %>
            Add
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
    
  <% if account.blank? %>
    <div class='no-results'>
      <h5>No one here has that email. Try again?</h5>
      <% if is_valid_email?(email) %>
        <p class='light-text mt-3'>Click the link below to invite <strong><%= email %></strong>. <br />As soon as they sign up, they'll automatically be added to your group.</p>
        <%= link_to invite_group_member_path(email: email), class: 'btn pill' do %>
          Invite New Member
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
