<div class='d-md-none'>
  <section class='mt-5'>
    <div class='no-scroll-style card-members-mobile'>
      <div class='group-card-head-mobile d-flex justify-content-between align-items-center mb-5'>
        <h4 class='font-weight-bold mb-0'><%= group.name %></h4>
        <span>
        <%= link_to new_group_member_path(group.id), class: '', remote: true do %>
          <span class="fa-stack fa-1x claim-icon">
            <i class="fa-solid fa-circle fa-stack-2x icon-bg light-green"></i>
            <i class="fa-solid fa-plus fa-stack-1x fa-inverse icon-fg green"></i>
          </span>
        <% end %>
        <% if current_account == group.administrator %>
          <%= link_to edit_group_path(group.id), class: '', remote: true do %>
            <span class="fa-stack fa-1x claim-icon">
              <i class="fa-solid fa-circle fa-stack-2x icon-bg light-green"></i>
              <i class="fa-regular fa-pen-to-square fa-stack-1x fa-inverse icon-fg green"></i>
            </span>
          <% end %>
        <% end %>
        </span>
      </div>
      <%= render partial: 'group_member/mobile/group_members', locals: { group_members: group_members, group: group } %>
    </div>
  </section>
</div>

<div class='d-none d-md-block'>
  <section class='mt-5'>
  <div class='overflow-x-scroll no-scroll-style card-members'>
    <div class='group-card-head'>
    <div class='actions d-flex justify-content-between'>
      <div class='pill pill-btn small light'>
        <%= group.name %>
      </div>
      <span class='d-flex flex-row'>
        <%= link_to new_group_member_path(group.id), class: 'pill pill-btn small', remote: true do %>
          <i class="fa-solid fa-plus me-3"></i> Add Members
        <% end %>
        <% if group.administrator == current_account %>
          <%= link_to edit_group_path(group.id), class: 'pill pill-btn small', remote: true do %>
            <i class="fa-regular fa-pen-to-square me-3"></i> Edit Group
          <% end %>
        <% end %>
      </span>
    </div>
    </div>
    <div class='group-card-body'>
      <%= render partial: 'group_member/group_members', locals: { group_members: group_members, group: group } %>
    </div>
  </div>
  </section>
</div>

<style>

.light-green {
  color: #9cdba6;
}

.card-members-mobile {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

.pill.invited {
  color: green;
  background-color: #9cdba6;
}

.green {
  color: #469746;
}

.card-members .group-card-head {
  padding: 2rem 2rem 1rem 2rem;
}

.card-members .group-card-body {
  padding: 1rem 2rem 2rem 2rem;
}

.pill.small {
  display: flex;
  align-items: center;
}

tr:last-of-type td {
  border-bottom: none;
}

.group-card.toggled {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.12s ease-in;
}

.group-card.toggled .pill {
  background: #9cdba6;
  color: green;
}
.group-card.toggled h5 {
  color: green;
}

.card-members {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slide-up 0.5s ease-in;
}

@keyframes slide-up {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0px; 
    opacity: 1;
  }
}

.card-members.show {
  # opacity: 1;
  # transform: translateY(-50px);
}

</style>