<div class='d-md-none'>
  <%= render partial: 'layouts/partials/mobile_header', locals: { title: @account.present? ? @account.full_name : "Everbody's Wishes"} %>
  <%= render partial: 'list/mobile/filter', locals: { is_my_list: @account&.id == current_account.id } %>
  <%= render partial: 'list/mobile/pills', locals: { account: @account } %>
</div>

<div class='d-none d-md-block'>
  <%= render partial: 'header', locals: { account: @account } %>
  <%= render partial: 'filter', locals: { is_my_list: @account&.id == current_account.id } %>
</div>

<section class='list'>
  <% if !current_account.has_a_group? || @list_items.blank? %>
    <%= render partial: 'empty_list', locals: { account: @account } %>
  <% elsif @list_items.present? %>
    <div class="masonry row" data-controller='masonry'>
      <% if params[:page].blank? || params[:page] == 0 %>
        <%= render partial: 'claim/request_card' %>
      <% end %>
      <% @list_items.each_with_index do |item, index| %>
        <% if item.owned_by?(current_account) %>
          <%= render partial: 'list_item/my_item', locals: { item: item } %>
        <% elsif item.created_by?(current_account) %>
          <%= render partial: 'list_item/editable_item', locals: { item: item } %>
        <% else %>
          <%= render partial: 'list_item/item', locals: { item: item } %>
        <% end %>
      <% end %>
    </div>
    <%= link_to_next_page @list_items, 'Next Page', class: 'pagination__next' %>
      <div class="page-load-status">
        <p class="infinite-scroll-request loader">
          <%= image_tag 'loader', class: 'loader-img' %>
        </p>
        <p class="infinite-scroll-last">You've reached the end of the gifts!</p>
      </div>
    <% end %>
</section>

<style>


</style>