<%= render partial: 'header', locals: { account: @account } %>

<%= render 'filter' %>

<section class='list'>
  <% if @list_items.blank? %>
    <%= render partial: 'empty_list', locals: { account: @account } %>
  <% end %>
  <% if @list_items.present? %>
    <div class="masonry row">
      <% @list_items.each_with_index do |item, index| %>
        <% if item.owned_by?(current_account) %>
          <%= render partial: 'list_item/my_item', locals: { item: item } %>
        <% else %>
          <%= render partial: 'list_item/item', locals: { item: item } %>
        <% end %>
      <% end %>
    </div>
    <%= link_to_next_page @list_items, 'Next Page', class: 'pagination__next' %>
      <div class="page-load-status">
        <p class="infinite-scroll-request loader">
          <%= image_tag 'loader', class: 'loader-img' %>
        </p>
        <p class="infinite-scroll-last">You've reached the end of the gifts!</p>
      </div>
    <% end %>
</section>
