<div class='d-md-none'>
  <%= render partial: 'list/mobile/my_claims/header' %>
  <%= render partial: 'list/mobile/my_claims/filter', locals: { params: params } %>
</div>

<div class='d-none d-md-block'>
  <%= render partial: 'list/my_claims/header', locals: { total: @total } %>
  <%= render partial: 'list/my_claims/filter', locals: { params: params } %>
</div>



<% if @list_items.empty? %>
  <section class='list'>
    <%= render partial: 'empty_list', locals: { account: nil } %>
  </section>
<% end %>

<% if @list_items.present? %>
  <section class='list'>
    <div class="masonry row">
    <% @list_items.each_with_index do |item, index| %>
      <%= render partial: 'list_item/item', locals: { item: item, index: index } %>
    <% end %>
    </div>
    <%= link_to_next_page @list_items, 'Next Page', class: 'pagination__next' %>
  </section>
<% end %>
