<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Family Gift Lists" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= render 'application/favicon' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

    <style>
    body {
      background-image: url(<%= asset_path 'background.svg' %>); 
      background-size: cover;
      min-height: 100vh;
    }
    </style>
  </head>

  <body class='<%= controller_name %>-controller'>
    <div class='container'>
      <div id='modal-container'></div>

      <div class='message-container'>
        <%= render partial: 'layouts/message' %>
      </div>
      <div class='message-container d-none d-md-block'>
      </div>

      <div id="list-item-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"></div>
      <div id="view-modal" class="modal fade" role="dialog"></div>
      <div id="claim-requests-container"></div>

      <% if current_account.present? %>
        <%= render 'layouts/navigation/nav' %>
      <% end %>
      <div class='content' data-controller='tooltip select'>
        <%= yield %>
      </div>

      <button id="scrollButton" data-controller='scroll' data-scroll-target='#scrollButton' data-action='click->scroll#scrollToTop'>☝️</button>
    </div>
  </body>
</html>
