<div class="container-flouid">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag "cat-with-hat", class: 'logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-md-3">
          <li class="nav-item">
            <%= link_to lists_path, class: 'nav-link' do %>
              All Lists
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to lists_path(filters: { account: current_account.id }), class: 'nav-link' do %>
              My Wish List
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to my_claims_path, class: 'nav-link' do %>
              Gifts I'm Giving
            <% end %>
          </li>
          <li class="nav-item">
              <%= link_to group_path, class: 'nav-link' do %>
                My Group
              <% end %>
          </li>
        </ul>
        <form class="d-flex justify-content-between justify-content-lg-end">
          <%= link_to new_list_item_path, method: :get, data: { turbo: false, remote: true, toggle: 'modal', target: '#list-item-modal'}, class: 'ps-0 ps-md-2 add-to-list btn no-border' do %>
            <span class='claim-icon fa-solid fa-gift me-3'></span>Add to My List
          <% end %>
          <%= link_to destroy_account_session_path, method: :delete, class: 'ms-4 logout-btn btn no-border' do %>
            <i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Sign Off
          <% end %>
        </form>
      </div>
    </div>
  </nav>
</div>
